html{
  height: 100vh;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#rule > div#ruleDiv{
  width: 90vw;
  height: auto;
  padding-bottom: 144vw;
  margin: 10% 5% 0 5%;
  position: relative;
  background: url(../images/u16-2_v2.png) no-repeat;
  background-size: contain;
  background-position: top;
}
#rule > div#ruleDiv.toggleBackground{
  background: url(../images/u16-2b_v2.png) no-repeat;
  background-size: contain;
  background-position: top;
}
#rule > div::after{
  content: "返回";
  text-decoration: underline;
  color: white;
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -30px;
  font-size: 26px;
  width: 60px;
  text-align: center;
  pointer-events: none;
}
#rule div h2{
  color: #fdf44c;
  position: absolute;
  left: 148px;
  top: 119px;
}
#rule div p {
  font-size: 16px;
  padding: 180px 30px 0 30px;
  color: #ffffcc;
}
#rule div p span{
  display: inline-block;
  padding: 3px 0;
}
#win div {
  width: 450px;
  height: 683px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: url('../images/u16.png');
}
#win div h2{
  color: #fdf44c;
  position: absolute;
  left: 148px;
  top: 119px;
}
#win div p{
  font-size: 16px;
  color: #fff;
  padding: 180px 10px 0 10px;
}
#win div p span{
  display: inline-block;
  padding: 5px 0;
}
.a_prize {
  background: url("../images/u31.png");
}
.a_share {
  background: url("../images/u33.png");
}
#awards > div{
  width: 85vw;
  height: 0;
  padding-bottom: 169vw;
  background: url(../images/result-one.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
  position: absolute;
  left: 7.5vw;
  top: 5vw;
  text-align: center;
  letter-spacing: 0.05em;
}
#awards h3 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  padding: 72px 0 6px 0;
}
#awards h1 {
  font-size: 46px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  padding: 0;
  margin: 0 0 20px 0;
}
#awards p {
  color: #797E99;
  font-size: 22px;
  margin: 0;
  font-weight: normal;
  line-height: 170%;
  padding: 27px 0;
  text-align: left;
}
#awards b {
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 0;
}
#awards ul {
  text-align: left;
  padding: 10px 0 0 0;
  color: #797E99;
  line-height: 170%;
}
#awards li {
  margin-bottom: 12px;
}

#share div {
  width: 300px;
  height: 290px;
  background: url("../images/u12.png");
  position: absolute;
  left: 169px;
  top: 142px;
  text-align: center;
}
#share h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 88px 10px 10px 10px;
}
#share a {
  display: inline-block;
  color: #fff;
  width: 100px;
  height: 30px;
}

/* 页面 css */
*{margin:0;padding:0;list-style-type:none;}
h1{margin:40px auto;font:32px "Microsoft Yahei";text-align:center;}

/* demo css */
.choujiang{
  position: relative;
  margin: 50px auto 0 auto;
  width: 90vw;
  height: 90vw;
  background: url(../images/lottery.png)no-repeat;
  background-size: contain;
}
.plate{
  position:relative;
  float:left;
  width: 100%;
  height: 100%;
}
.plate::after{
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  left: 50%;
  top: 50%;
  margin-left: -113px;
  margin-top: -110px;
  background: url(../images/lottery-221.png)no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
#plateBtn{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  background-image: url(../images/lottery-22.png);
  background-size: contain;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
#result{
  display:none;
  position:absolute;
  left:99px;
  top:169px;
  width:300px;
  height:120px;
  background-color:rgba(0,0,0,0.75);
  filter:alpha(opacity=90);
}
#result a{
  color: #ff0000;
}
#resultTxt{
  padding:45px 15px 0;
  font:16px "Microsoft Yahei";
  color:#fff;
  text-align:center;
}
#resultTxt em{
  color:#ffea76;
  font-style:normal;
}
#resultBtn{
  position:absolute;
  right:5px;
  top:5px;
  width:25px;
  height:25px;
  text-indent:-100px;
  background-image:url(../images/close.png);
  overflow:hidden;
}

#musicbtn { float:right; background:url(../images/yinyu.png) no-repeat; width:44px; height:44px; display:block; padding-top:5px}
.zp-title img{
  display: flex;
  margin: 10vh auto 0 auto;
}
.zp-rule{
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.zp-rule a{
  display: flex;
  width: fit-content;
  margin: 0 auto;
  border: 5px solid #856ab7;
  padding: 15px 22px;
  border-radius: 4px;
  font-size: 24px;
  color: #d9d2fa;
  letter-spacing: 0.05em;
}
#rule{
  position: fixed;
  top: 0px;
}
#bnn{
  font-weight: normal;
}
#bnu{
  text-decoration: underline;
}
#hhu{
  font-weight: normal !important;
}
.item hr{
  width: 60%;
  height: 8px;
  margin-left: 20%;
  border: 0;
  background: url(../images/divider1.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.item a{
  width: 50%;
  height: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  background: url(../images/CTA-0.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
  position: absolute;
  bottom: 40px;
}

/*第一輪*/
.item-one #title_h,.item-one #title_t,.item-one b{
  color: #B73030 !important;
}
.item-one a{
  background: url(../images/CTA-0.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-one hr{
  background: url(../images/divider1.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-one{
  background: url(../images/result-one.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第二輪*/
.item-two #title_h,.item-two #title_t,.item-two b{
  color: #DB7733 !important;
}
.item-two a{
  background: url(../images/CTA-1.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-two hr{
  background: url(../images/divider2.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-two{
  background: url(../images/result-two.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第三輪*/
.item-three #title_h,.item-three #title_t,.item-three b{
  color: #E5C528 !important;
}
.item-three a{
  background: url(../images/CTA-2.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-three hr{
  background: url(../images/divider3.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-three{
  background: url(../images/result-three.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第四輪*/
.item-four #title_h,.item-four #title_t,.item-four b{
  color: #448E48 !important;
}
.item-four a{
  background: url(../images/CTA-3.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-four hr{
  background: url(../images/divider4.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-four{
  background: url(../images/result-four.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第五輪*/
.item-five #title_h,.item-five #title_t,.item-five b{
  color: #1392D8 !important;
}
.item-five a{
  background: url(../images/CTA-4.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-five hr{
  background: url(../images/divider5.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-five{
  background: url(../images/result-five.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第六輪*/
.item-six #title_h,.item-six #title_t,.item-six b{
  color: #3339A0 !important;
}
.item-six a{
  background: url(../images/CTA-5.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-six hr{
  background: url(../images/divider6.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-six{
  background: url(../images/result-six.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

/*第七輪*/
.item-seven #title_h,.item-seven #title_t,.item-seven b{
  color: #B23ECE !important;
}
.item-seven a{
  background: url(../images/CTA-6.png) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
.item-seven hr{
  background: url(../images/divider7.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#awards > div.item-seven{
  background: url(../images/result-seven.png) no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

.item::after{
  content: "長按可儲存圖片";
  text-decoration: underline;
  color: white;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 26px;
  width: 200px;
  text-align: center;
  pointer-events: none;
}
#pp-content{
  overflow-y: auto;
  height: 115vw;
  margin: 0 4%;
  padding: 0 8%;
}

@media (min-width: 680px) {
  body {
    background-image: url('/images/0.背景_Desktop.jpg');
    background-position: center center;
    background-size: 110% 120%;
    background-repeat: no-repeat;
    height: 110vh;
  }

  .choujiang {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    margin: 30px auto 0 auto;
  }

  #rule>div#ruleDiv {
    width: 84%;
    margin: 5% 0 0 8%;
    padding-bottom: 134%;
  }

  #awards>div {
    width: 72%;
    top: 30px;
    left: 15%;
    padding-bottom: 143%;
  }

  #pp-content {
    height: 26vw;
  }

  .wrap {
    width: 33%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
  }

  #plateBtn {
    width: 50%;
    height: 50%;
    margin: 0px;
    top: 25%;
    left: 25%;
  }

  .plate {
    position: absolute;
  }

  .plate::after {
    content: "";
    width: 36%;
    height: 36%;
    margin: 0px;
    top: 32%;
    left: 31%;
  }

  #rule {
    display: block;
    width: 33%;
  }

  #awards h3 {
    font-size: 20px;
    padding: 48px 0 6px 0;
  }

  #awards h1 {
    font-size: 32px;
    margin: 0 0 9px 0;
  }

  #awards p {
    font-size: 14px;
    padding: 14px 0;
  }

  #awards b,
  #awards ul {
    font-size: 14px;
  }

  .item a {
    background-size: auto 26px;
    bottom: 22px;
  }

  .item::after,
  #rule>div::after {
    content: "返回";
    font-size: 21px;
  }

  .zp-title img {
    width: 80%;
  }

  .zp-rule {
    margin-top: 30px;
  }

  .item::after{
    /* content: "右鍵另存下載"; */
  }
}




.result_img {
  position: absolute;
  z-index: -1;
  width: 85%;
  /* height: 169vw; */
  top: 5vw;
  left: 0;
  right: 0;
  margin: auto;
}

.result_img::after {
  content: "長按可儲存圖片";
  text-decoration: underline;
  color: white;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 26px;
  width: 200px;
  text-align: center;
  pointer-events: none;
}

.result_img img {
  display: block;
  width: 100%;
}

@media (min-width: 680px) {
  .result_img {
    width: 72%;
    top: 30px;
    left: 2%;
  }

  .result_img::after {
    content: "右鍵另存下載";
    width: 200px;
    z-index: 10000;
    text-decoration: underline;
    color: white;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 26px;
    text-align: center;
    pointer-events: none;
  }

  .choujiang {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    margin: 30px auto 0 auto;
  }

  #rule>div#ruleDiv {
    width: 84%;
    margin: 5% 0 0 8%;
    padding-bottom: 134%;
  }

  #awards>div {
    width: 72%;
    top: 30px;
    left: 15%;
    padding-bottom: 143%;
  }

  #pp-content {
    height: 26vw;
  }

  .wrap {
    width: 33%;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
  }

  #plateBtn {
    width: 50%;
    height: 50%;
    margin: 0px;
    top: 25%;
    left: 25%;
  }

  .plate {
    position: absolute;
  }

  .plate::after {
    content: "";
    width: 36%;
    height: 36%;
    margin: 0px;
    top: 32%;
    left: 31%;
  }

  #rule {
    display: block;
    width: 33%;
  }

  #awards h3 {
    font-size: 20px;
    padding: 48px 0 6px 0;
  }

  #awards h1 {
    font-size: 32px;
    margin: 0 0 9px 0;
  }

  #awards p {
    font-size: 14px;
    padding: 14px 0;
  }

  #awards b,
  #awards ul {
    font-size: 14px;
  }

  .item a {
    background-size: auto 26px;
    bottom: 22px;
  }

  .item::after,
  #rule>div::after {
    /* content: "右鍵另存下載"; */
    font-size: 21px;
  }

  .zp-title img {
    width: 80%;
  }

  .zp-rule {
    margin-top: 30px;
  }
}