<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<meta content="width=640,user-scalable=no" name="viewport">

<title>7 essential 七香波 靈感輪盤</title>

<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" href="css/style.css">

<script src="https://cdn.jsdelivr.net/npm/html2canvas@latest/dist/html2canvas.min.js"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.rotate.min.js"></script>
<script type="text/javascript" src="js/jQuery.md5.js"></script>
<script type="text/javascript">
	var moneyVal = 30;
	var mm = '';
	var tt = '';
	var cc = '';

	$(function(){
		var $plateBtn = $('#plateBtn');
		var $result = $('#result');
		var $resultTxt = $('#resultTxt');
		var $resultBtn = $('#resultBtn');

		$plateBtn.click(function(){
			var data = [0, 1, 2, 3, 4, 5, 6];
			data = data[Math.floor(Math.random()*data.length)];
			switch(data){
				case 1:
          moneyVal = 100;
					mm = '七';
					tt = '頂輪';
					pp = '<p><b>「頂輪」</b>主管<b id="hhu">靈性、連接宇宙</b>和<b id="hhu">更高智慧的中心</b>，是<b id="hhu">靈性之源</b>，如果您最近感受思考受限、不願接受新事物，使用我們<b id="hhu">含七種精油</b>：黑雲杉、大馬士革玫瑰、天竺葵、東印度檀木、香草、真正薰衣草和苦橙葉的洗髮香波（Shampoo），可以幫助您感覺到與<b id="hhu">內在靈性提升</b>、感受<b id="hhu">更高層次的自我覺醒</b>。</p><ul><li><b id="bnu">黑雲杉</b> 是一種平靜的香氣，有助於<b id="hhu">提高靈感</b>、內在平和，讓您<b id="hhu">體驗更平靜的冥想</b>。</li><li><b id="bnu">大馬士革玫瑰</b> 有助於<b id="hhu">提高內在平和</b>，<b id="hhu">促進內在和外在的和諧</b>。</li><li><b id="bnu">天竺葵</b> 具有平和和潔淨的能量，能幫助您<b id="hhu">提高內在平靜</b>。</li><li><b id="bnu">東印度檀木</b> 是一種<b id="hhu">強大的冥想香氣</b>，有助於<b id="hhu">提升靈感、智慧</b>。</li><li><b id="bnu">香草</b> 帶來安定和平靜，有助於<b id="hhu">深化冥想</b>。</li><li><b id="bnu">真正薰衣草</b> 是一種舒緩平靜的香氣，有助於<b id="hhu">深化冥想、提高內在平和</b>。</li><li><b id="bnu">苦橙葉</b> 能夠幫助您<b id="hhu">深化冥想、提高內在平和</b>。</li></ul><br><br><a href="#" onclick="generateImage(6)"></a>';
					cc = 'item-seven';
          rotateFunc(100,0,'');
					break;
				case 2:
          moneyVal = 500;
					mm = '六';
					tt = '眉心輪';
					pp = '<p><b>「眉心輪」</b>主管<b id="hhu">直覺、洞察力、創造力</b>和<b id="hhu">靈感</b>，是<b id="hhu">內在智慧之源</b>，如果您最近常感覺創意停滯、需要依賴他人提供答案，使用我們<b id="hhu">含七種精油</b>：花梨木、薄荷、迷迭香、香膠冷杉、甜橙、佛手柑和杜松果的洗髮香波（Shampoo），可以幫助您<b id="hhu">提高洞察力、智慧和判斷力</b>。</p><ul><li><b id="bnu">花梨木</b> 是一種溫和的香氣，有助於<b id="hhu">提高洞察力</b>和靈感，讓您更能<b id="hhu">深入思考和提高智慧</b>。</li><li><b id="bnu">薄荷</b> 帶有鼓舞的能量，有助於<b id="hhu">提高思維敏捷性</b>，讓您更<b id="hhu">容易產生靈感</b>。</li><li><b id="bnu">迷迭香</b> 具有振奮的作用，有助於<b id="hhu">提高專注力</b>和創造力，讓您<b id="hhu">更有靈感</b>。</li><li><b id="bnu">香膠冷杉</b> 是一種平靜的香氣，<b id="hhu">有助於冥想</b>，<b id="hhu">提高洞察力和智慧</b>。</li><li><b id="bnu">甜橙</b> 帶來愉悅和快樂，有助於<b id="hhu">提高智慧</b>，讓您更能<b id="hhu">看清事物的表面</b>。</li><li><b id="bnu">佛手柑</b> 有助於<b id="hhu">提高創造力</b>，讓您更能<b id="hhu">發揮潛力</b>。</li><li><b id="bnu">杜松果</b> 具有清潔能量，有助於<b id="hhu">釋放負面情緒</b>和思維，<b id="hhu">提高洞察力和創造力</b>。</li></ul><br><br><a href="#" onclick="generateImage(5)"></a>';
					cc = 'item-six';
					rotateFunc(100,51.43,'');
					break;
				case 3:
          moneyVal = 100;
					mm = '四';
					tt = '心輪';
					pp = '<p><b>「心輪」</b>主管<b id="hhu">愛、同情</b>和<b id="hhu">善良</b>，是<b id="hhu">情感</b>和<b id="hhu">靈性平和</b>的脈輪，如果您最近感受冷漠、自私、想不自覺地與他人保持距離，使用我們<b id="hhu">含六種精油</b>：乳香、黑胡椒、甜羅勒、芫荽、香櫞、杜松果的洗髮香波（Shampoo），可以幫助您<b id="hhu">發展友善、同情心、打造和諧的人際關係</b>與<b id="hhu">自我接納</b>。</p><ul><li><b id="bnu">乳香</b> 是一種安定的香氣，有助於<b id="hhu">提高愛和同情心</b>，讓您更能<b id="hhu">在關係中接受自己和他人</b>。</li><li><b id="bnu">甜橙</b> 具有明亮、愉悅的能量，讓您更容易與<b id="hhu">他人建立深刻的情感聯繫</b>。</li><li><b id="bnu">香蜂草</b> 能<b id="hhu">賦予活力</b>，讓您更能與自己<b id="hhu">和他人建立積極的關係</b>。</li><li><b id="bnu">苦橙葉</b> 是一種舒緩情感波動的香氣，讓您更容易<b id="hhu">發展平和的情感</b>。</li><li><b id="bnu">天竺葵</b> 帶來潔淨和平衡的能量，能夠幫助您<b id="hhu">釋放負面情感</b>。</li><li><b id="bnu">沉香木</b> 具有<b id="hhu">安定情緒</b>的功效，能夠幫助您<b id="hhu">在感情中維持平和</b>。</li></ul><br><br><a href="#" onclick="generateImage(3)"></a>';
					cc = 'item-four';
					rotateFunc(100,102.86,'');
					break;
				case 4:
          moneyVal = 100;
					mm = '二';
					tt = '生殖輪';
					pp = '<p><b>「生殖輪」</b>主管<b id="hhu">創造力、情感、性慾</b>和<b id="hhu">人際關係</b>，它象徵著<b id="hhu">生命的力量</b>和<b id="hhu">情感的流動</b>。如果您最近感覺對他人冷漠、缺乏情感或是對事物失去好奇心，使用我們<b id="hhu">含七種精油</b>：阿米香樹、貞潔樹、特級依蘭、沉香木、香櫞、玫瑰原精和歐白芷根的洗髮香波（Shampoo），可以幫助您<b id="hhu">修復愛的關係</b>，重拾<b id="hhu">正面的情緒、彼此相愛</b>。</p><ul><li><b id="bnu">阿米香樹</b> 是一種溫暖的香氣，有助於<b id="hhu">提高創造力</b>，讓您更能<b id="hhu">深入地體驗情感</b>。</li><li><b id="bnu">貞潔樹</b> 能提供<b id="hhu">情感穩定</b>，使您更容易<b id="hhu">建立深層的關係</b>。</li><li><b id="bnu">特級依蘭</b> 是一種甜美的香氣，讓您更<b id="hhu">敞開心扉</b>，享受<b id="hhu">豐富的情感</b>。</li><li><b id="bnu">沉香木</b> 具有<b id="hhu">安定情緒</b>的功效，能夠幫助您在<b id="hhu">感情中維持平和</b>。</li><li><b id="bnu">香櫞</b> 帶來清新的能量，可以幫助您<b id="hhu">釋放壓力</b>，<b id="hhu">重拾對愛情的熱情</b>。</li><li><b id="bnu">玫瑰</b> 原精有助於<b id="hhu">打開心靈</b>，將<b id="hhu">更多愛帶入您的關係中</b>。</li><li><b id="bnu">歐白芷根</b> 具有<b id="hhu">平衡情感</b>的功效，使您能夠更穩定地<b id="hhu">探索感情和創造力</b>。</li></ul><br><br><a href="#" onclick="generateImage(1)"></a>';
					cc = 'item-two';
					rotateFunc(100,154.29,'');
					break;
				case 5:
          moneyVal = 200;
					mm = '一';
					tt = '海底輪';
					pp = '<p><b>「海底輪」</b>是您<b id="hhu">身心靈的基石</b>，關聯著您的<b id="hhu">生存本能</b>和<b id="hhu">安全感</b>，如果您最近容易感到緊張或恐懼，使用我們<b id="hhu">含六種精油</b>：岩蘭草、廣藿香、葡萄柚、真正薰衣草、杜松果和紅桔的洗髮香波（Shampoo），可以幫助您<b id="hhu">建立穩固的身心基礎</b>，讓您感到堅實的<b id="hhu">穩定和安全。</b></p><ul><li><b id="bnu">岩蘭草</b> 是一種安定的香氣，有助於<b id="hhu">提高安全感</b>，讓您<b id="hhu">感到更加安心</b>。</li><li><b id="bnu">廣藿香</b> 具有<b id="hhu">穩定情緒</b>、增強自信和<b id="hhu">提供安全感的功效</b>。</li><li><b id="bnu">葡萄柚</b> 具有清潔淨化的功效，將不必要的擔憂和<b id="hhu">緊張情緒排出體外</b>。</li><li><b id="bnu">真正薰衣草</b> 能夠幫助您放鬆身心，<b id="hhu">減輕壓力</b>，並<b id="hhu">提升內在的安全感</b>。</li><li><b id="bnu">杜松果</b> 能舒緩不適，<b id="hhu">減緩你的焦躁</b>並<b id="hhu">提升安全感</b>。</li><li><b id="bnu">紅桔</b> 代表著活力和熱情，把<b id="hhu">活力注入您的生活中</b>。</li></ul><br><br><a href="#" onclick="generateImage(0)"></a>';
					cc = 'item-one';
					rotateFunc(100,205.71,'');
					break;
				case 6:
					moneyVal = 100;
					mm = '三';
					tt = '太陽輪';
					pp = '<p><b>「太陽輪」</b>太陽輪主管<b id="hhu">自我價值、自尊心、個人力量</b>和<b id="hhu">生活目標</b>，如果您最近感受沒自信、凡事被動、失去追夢的勇氣，使用我們<b id="hhu">含六種精油</b>：檸檬、黑胡椒、甜羅勒、芫荽、香櫞、杜松果的洗髮香波（Shampoo），可以幫助您<b id="hhu">提高自尊心、找到自信</b>，重拾力量、繼續朝目標前進。</p><ul><li><b id="bnu">檸檬</b> 是一種清新的香氣，有助於<b id="hhu">提高自信心</b>、自尊心，讓您更能<b id="hhu">自信地表達自己</b>。</li><li><b id="bnu">黑胡椒</b> 是一種<b id="hhu">活力之源</b>，幫助<b id="hhu">增強自信</b>和勇氣，並<b id="hhu">實現更大的自我價值</b>。</li><li><b id="bnu">甜羅勒</b> 有<b id="hhu">恢復精神</b>的功效，能讓您<b id="hhu">重拾熱情與動力</b>。</li><li><b id="bnu">芫荽</b> 代表著<b id="hhu">自我接受</b>，能助您<b id="hhu">建立對自己的正面態度</b>。</li><li><b id="bnu">香櫞</b> 的清新能量有助於<b id="hhu">提升自尊心</b>，讓您<b id="hhu">感到更有自信</b>。</li><li><b id="bnu">杜松果</b> 能舒緩不適，能<b id="hhu">釋放壓力</b>和負面情緒，使您更<b id="hhu">自信地面對挑戰</b>。</li></ul><br><br><a href="#" onclick="generateImage(2)"></a>';
					cc = 'item-three';
					rotateFunc(100,257.14,'');
					break;
				case 0:
          moneyVal = 200;
					mm = '五';
					tt = '喉輪';
					pp = '<p><b>「喉輪」</b>喉輪主管<b id="hhu">表達、溝通</b>和<b id="hhu">自我溝通</b>。如果您最近常詞不達意、缺乏表達想法的勇氣，使用我們<b id="hhu">含七種精油</b>：羅文沙葉、野生茶樹、尤加利、佛手柑、賽普勒斯柑橘、百里香和真正薰衣草的洗髮香波（Shampoo），可以幫助您<b id="hhu">無障礙地表達思想</b>和<b id="hhu">情感</b>，通往更真實的自我！</p><ul><li><b id="bnu">羅文沙葉</b> 有助於<b id="hhu">提高表達</b>的清晰度和自信，讓您<b id="hhu">更自信地表達思想和情感</b>。</li><li><b id="bnu">野生茶樹</b> 帶有清新的能量，有助於<b id="hhu">清除腦中的障礙</b>，<b id="hhu">提高溝通流暢性。</b></li><li><b id="bnu">尤加利</b> 是一種充滿活力的香氣，能夠<b id="hhu">提升專注力</b>，幫助您<b id="hhu">表達自己</b>。</li><li><b id="bnu">佛手柑</b> 帶來愉悅和樂觀，有助於<b id="hhu">減輕壓力</b>，讓您<b id="hhu">更自信地表達自己</b>。</li><li><b id="bnu">賽普勒斯柑橘</b> 有助於<b id="hhu">提高表達能力</b>，讓您更能<b id="hhu">真實地表現自己</b>。</li><li><b id="bnu">百里香</b> 具有平靜的能量，有助於<b id="hhu">釋放壓力</b>，<b id="hhu">提高表達的清晰度</b>。</li><li><b id="bnu">真正薰衣草</b> 是一種舒緩的香氣，能夠<b id="hhu">提高自信</b>，讓您能自在地<b id="hhu">表達自己</b>。</li></ul><br><br><a href="#" onclick="generateImage(4)"></a>';
					cc = 'item-five';
					rotateFunc(100,308.57,'');
					break;
				default:
					// rotateFunc(0,0,'');
			}
		});

		var rotateFunc = function(awards,angle,text){  //awards:奖项，angle:奖项对应的角度
			$plateBtn.stopRotate();
			$plateBtn.rotate({
				angle: 0,
				duration: 5000,
				animateTo: angle + 1440,  //angle是图片上各奖项对应的角度，1440是让指针固定旋转4圈
				callback: function() {
					$resultTxt.html(text);
					//$result.show();
					if (moneyVal == -1) {
						showShare();
					}
					else {
						$('#title_h').text('第' + mm + '輪脈輪 ...');
						$('#title_t').text(tt);
						$('#pp-content').html(pp);
						$('.item').addClass(cc);
						showPrize();
					}
				}
			});
		};

		$('#ruleDiv').click(function() {
			$(this).toggleClass('toggleBackground');
		});

		$resultBtn.click(function(){
			$result.hide();
		});
	});

  function generateImage(idx) {
    const result_img = document.querySelectorAll('.result_img img')
    const result_img_main = document.querySelector('.result_img')
    result_img_main.style = 'z-index: 100000'
    result_img[idx].style = 'display: block;'
  }
	function closeRule(){
		var ruleDiv = document.getElementById('rule');
		ruleDiv.style.display = 'none';
		var ruleDiv = document.getElementById('mask_rule');
		ruleDiv.style.display = 'none';
	}
	function showRule(){
		var ruleDiv = document.getElementById('rule');
		ruleDiv.style.display = 'block';
		var ruleDiv = document.getElementById('mask_rule');
		ruleDiv.style.display = 'block';
	}
	function closeWin(){
		var winDiv = document.getElementById('win');
		winDiv.style.display = 'none';
		var winDiv = document.getElementById('mask_win');
		winDiv.style.display = 'none';
	}
	function showWin(){
		var winDiv = document.getElementById('win');
		winDiv.style.display = 'block';
		var winDiv = document.getElementById('mask_win');
		winDiv.style.display = 'block';

		$('#zhongjiangmingdan').html('');
		$.ajax({
			type:'get',
			url:'http://www.rongtoujinrong.com/api/record2.php',
			dataType:'json',
			success:function(data){
				if(data.code==1)
				{
					var arr = data.data;
					for(var i=0;i<arr.length;i++){
						$('#zhongjiangmingdan').append(arr[i]+'<br/>');
					}

				}
			},
			error:function(){}
		});

	}

	function closePrize(){
		var awardsDiv = document.getElementById('awards');
		awardsDiv.style.display = 'none';
		var awardsDiv = document.getElementById('mask_awards');
		awardsDiv.style.display = 'none';
		$('.item').removeClass(cc);
    const result_img = document.querySelectorAll('.result_img img')
    const result_img_main = document.querySelector('.result_img')
    result_img_main.style = 'z-index: -1'
    result_img.forEach(item => {
      item.style = 'display: none';
    })
	}
	function showPrize(){
		var awardsDiv = document.getElementById('awards');
		awardsDiv.style.display = 'block';
		var awardsDiv = document.getElementById('mask_awards');
		awardsDiv.style.display = 'block';
	}

	

</script>

</head>
<body>
<div style="display: none;">
  <img src="/images/u16-2.png" alt="">
  <img src="/images/u16-2b.png" alt="">
  <img src="/images/活動規則外匡_Page1_Desktop.png" alt="">
  <img src="/images/活動規則外匡_Page2_Desktop.png" alt="">
</div>
<div class="wrap">
	<div class="projIntro">
		<dl>
			<div class="zhuanpan" style="width:100%;height:100vh;margin:0 auto;">
				<div class="zp-title">
					<img src="images/title.png" alt="">
				</div>
				<div class="main">
					<div class="choujiang">
						<div class="plate">
							<a id="plateBtn" href="javascript:" title="開始測驗"></a>
						</div>
						<div id="result">
							<p id="resultTxt"></p>
							<a id="resultBtn" href="javascript:" title="關閉">關閉</a>
						</div>
					</div>
					<div class="content">
						<div id="mask_rule" class="mask" style="display: none" onclick="closeRule()"></div>
						<div id="rule" style="display: none;">
							<div id="ruleDiv"></div>
						</div>
						<div id="mask_awards" class="mask" style="display: none" onclick="closePrize()"></div>
						<div id="awards"  style="display: none; margin-top:0;">
              <section class="result_img">
                <img style="display: none;" src="./images/結果框_脈輪1.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪2.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪3.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪4.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪5.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪6.png" alt="">
                <img style="display: none;" src="./images/結果框_脈輪7.png" alt="">
              </section>
							<div class="item" id="item-print">
								<h3 id="title_h">第一輪脈輪 ...</h3>
								<h1 id="title_t">海底輪</h1>
								<hr>
								<div id="pp-content">
									<!-- <p><b>「海底輪」</b>是您身心靈的基石，關聯著您的生存本能和安全感，如果您最近容易感到<b id="bnn">緊張或恐懼</b>，使用我們含五種精油：廣藿香、葡萄柚、真正薰衣草、杜松果和紅桔的洗髮香波（Shampoo），可以幫助您建立穩固的身心基礎，讓您感到堅實的穩定和安全。</p>
									<ul>
										<li><b id="bnu">廣藿香</b> 具有穩定情緒、增強自信和提供安全感的功效。</li>
										<li><b id="bnu">葡萄柚</b> 具有清潔淨化的功效，將不必要的擔憂和緊張情緒排出體外。</li>
										<li><b id="bnu">真正薰衣草</b> 能夠幫助您放鬆身心，減輕壓力，並提升內在的安全感。</li>
										<li><b id="bnu">杜松果</b> 能舒緩不適，減緩你的焦躁並提升安全感。</li>
										<li><b id="bnu">紅桔</b> 代表著活力和熱情，把活力注入您的生活中。</li>
									</ul> -->
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="zp-rule">
					<a href="javascript:void(0)" onclick="showRule()"><span>點擊了解輪盤測驗</span></a>
				</div>
			</div>
		</dl>
		<div class="clear"></div>
	</div>
</div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>